/POO2/Pratica1/nbproject/private/
/POO2/Pratica1/build/
/POO2/Pratica2/nbproject/private/
/POO2/Pratica2/build/
/POO2/Pratica2api/nbproject/private/
/POO2/Pratica2api/build/
/POO2/Pratica3/nbproject/private/
/POO2/Pratica3/build/
/POO2/Pratica4/nbproject/private/
/POO2/Pratica4/build/
/POO2/Pratica5/nbproject/private/
/POO2/crud_aula/nbproject/private/
/POO2/Pratica5/build/
/POO2/crud_aula/build/
/POO2/Pratica 6/nbproject/private/
/POO2/Pratica6/nbproject/private/
/POO2/Pratica6/build/
/POO2/Pratica/nbproject/private/
/POO2/Pratica7/nbproject/private/
/POO2/Pratica7/build/
/POO2/Pratica8/nbproject/private/
/POO2/Pratica8/build/
/POO2/Pratica10/nbproject/private/
/POO2/Pratica10/build/
/POO2/atica10/build/
/POO2/atica10/nbproject/private/
/POO2/Pratica9/nbproject/private/
/POO2/Command/build/
/POO2/Command/nbproject/private/
/POO2/Composite/build/
/POO2/Composite/nbproject/private/