/POO2/Pratica1/nbproject/private/
/POO2/Pratica1/build/
/POO2/Pratica2/nbproject/private/
/POO2/Pratica2/build/
/POO2/Pratica2api/nbproject/private/
/POO2/Pratica2api/build/
/POO2/Pratica3/nbproject/private/
/POO2/Pratica3/build/
/POO2/Pratica4/nbproject/private/
/POO2/Pratica4/build/
/POO2/Pratica5/nbproject/private/
/POO2/crud_aula/nbproject/private/
/POO2/Pratica5/build/
/POO2/crud_aula/build/